/******* Tag Selectors*********/
h1 {
  color: palevioletred
}

img:hover {
  background-color: pink;
}

/******* Class Selectors*******/
.bacon {
  background-color: papayawhip;
}

.broccoli {
  background-color: gainsboro;
}

.circular {
  border-radius: 100%;
}

/******* Tag Selectors*********/
#heading {
  color: blue;
}
